.cover__subtitle {
    font-family: 'Inter-Regular';
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin: 0;
    max-width: 360px;
    min-height: 66px;
    position: absolute;
    right: 412px;
    bottom: 245px;
}