.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1184px;
    min-width: 288px;
    padding: 28px 48px 56px;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .header {
        padding-bottom: 48px;
        min-width: calc(100% - 48px*2);
    }
}

@media screen and (max-width: 1023px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 48px;
        padding-top: 16px;
    }
}