.place__paragraph-container {
    grid-column: 2/3;
    grid-row: 2/3;
}

@media screen and (max-width: 767px) {
    .place__paragraph-container {
        grid-column: 1/1;
        grid-row: 4/4;
    }
}