.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    font-style: normal;
    margin-right: 18px;
    transition: 0.2s;
}

.footer__link:link {
    color: #fff;
    text-decoration: none;
}

.footer__link:hover {
    color: #fff;
    opacity: 70%;
}

.footer__link:visited {
    color: #fff;
}

.footer__link:focus {
    color: rgb(200, 200, 200);
    
}

@media screen and (max-width: 767px) {
    .footer__link {
        margin-right: 0;
        font-size: 24px;
        line-height: 1;
    }
}