.lead__subtitle {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    color: #fff;
    text-align: center;
    max-width: 640px;
    min-height: 72px;
    margin: 0 0 64px 0;
}