.cover__title {
    font-family: 'Inter-Black';
    font-size: 72px;
    font-style: normal;
    line-height: 76px;
    color: #fff;
    max-width: 560px;
    min-height: 152px;
    text-align: center;
    margin: 0 0 32px 0;
    position: absolute;
    top: 245px;
    left: 312px;
}